<!DOCTYPE html>
<html data-theme="<%= current_theme %>" data-controller="theme" data-theme-fonts-value="<%= theme_fonts_json %>">
  <head>
    <title><%= content_for(:title) || "synthwaves.fm" %></title>
    <%= meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="SynthWWves.fm">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= storage_preconnect_tag %>
    <!-- Theme fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link id="theme-font" href="<%= current_theme_font_url %>" rel="stylesheet">
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <meta name="theme-color" content="<%= current_theme_meta_color %>">
    <%= favicon_link_tag "icon.svg", type: "image/svg+xml" %>
    <link rel="apple-touch-icon" href="/icon-512.png?v=3">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if authenticated? && Flipper.enabled?(:chromecast, Current.user) %>
      <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1" async></script>
    <% end %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <% if turbo_native_app? %>
      <meta name="turbo:native" content="true">
    <% end %>
  </head>
  <body class="bg-gray-900 synthwave-bg text-white <%= 'pb-40 md:pb-24' unless turbo_native_app? %> scanlines" data-controller="youtube-player keyboard-shortcuts<%= ' bridge--playback bridge--video' if turbo_native_app? %>">
    <% if authenticated? %>
      <%= turbo_stream_from "downloads_#{Current.user.id}" %>
      <%= turbo_stream_from "recordings_#{Current.user.id}" %>
      <div id="download-notifications" class="fixed top-20 right-4 z-50 space-y-2"></div>
    <% end %>
    <%= render 'navbar' unless turbo_native_app? %>
    <%= render 'alerts' %>
    <%= render TvPlayer::Component.new %>
    <%= render PIP::Component.new %>
    <!-- Screensaver -->
    <div class="hidden fixed inset-0 z-[9998] bg-black" data-turbo-permanent data-controller="screensaver">
      <canvas data-screensaver-target="canvas" class="w-full h-full"></canvas>
    </div>
    <main class="container mx-auto my-28 px-5 flex">
      <%= yield %>
    </main>
    <% unless turbo_native_app? %>
      <% if authenticated? %>
        <%= render BottomTabBar::Component.new(current_path: request.path, user: Current.user) %>
      <% end %>
      <%= render Player::Component.new %>
    <% end %>
  </body>
</html>
